In [2]:
import pandas as pd

In [9]:
conditions = pd.read_csv("./conditions/Sample_Conditions.csv").drop('Unnamed: 0',axis=1)
#CONDITION_NUM = 2 ## CHANGE THE CONDITION NUMBER TO TOGGLE BETWEEN THE TRIAL TYPE ( Current options 1 or 2 ) 
cond = conditions[conditions['Conditions']==CONDITION_NUM] 
cond = cond.reset_index(drop=True)
cond = cond.sample(frac=1) # sample rows and with replacement ( Shuffles all the samples ) 
trial_range = cond['Trials']# Trial range - 0 to 9
audio = cond['Audio']

In [13]:
cond.head(5)

,Conditions,Trials,Number_type,Other_features,Target,Foil,Location,Answer,Audio,RT
2,2,2,2 digits,none,49,94,left,NaN,Here is a number. Look at it closely,NaN
15,2,15,3 digits,swap_2_3,745,754,right,NaN,Look at this new number.,NaN
9,2,9,2 digits,none,37,73,right,NaN,"Look, here is a number.",NaN
12,2,12,3 digits,swap_2_3,132,123,left,NaN,Look at this number. Look at it closely,NaN
0,2,0,2 digits,none,27,72,left,NaN,Look at this number. Look at it closely,NaN

In [ ]:
cond

In [15]:
for trial in trial_range:
    print(cond.loc[trial,'Other_features'])

none
swap_2_3
none
swap_2_3
none
swap_2_3
none
swap_1_2
none
swap_1_2
none
swap_1_3
swap_1_3
none
none
swap_2_3
none
swap_2_3
swap_1_2
swap_2_3
none
none
none
swap_1_3

In [23]:
for x in range(24):
    if x % 6 == 0:
        print(f"{x}: checkpoint")

0: checkpoint
6: checkpoint
12: checkpoint
18: checkpoint